﻿@model IEnumerable<JdJobsDashBoard.Models.TaskInfo>
@{
//Layout = null;
}

<!DOCTYPE html>
<link href="~/scripts/datatables.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width" />
<title>Index</title>

<script type="text/javascript">
    setInterval(function () {
        $(".blinker").css("background-color", "orange");
        $(".blinker").fadeOut(200).fadeIn(500)
    }, 1000);

    $(function () {
        $("#btnExport").click(function () {

            table = $('#tblJobs').DataTable();
            table.destroy();
            $('#tblJobs').DataTable({
                "paging": false,
                "searching": false,
            });
            var dt = new Date();
            var day = dt.getDate();
            var month = dt.getMonth() + 1;
            var year = dt.getFullYear();
            var hour = dt.getHours();
            var mins = dt.getMinutes();
            var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
            //creating a temporary HTML link element (they support setting file names)
            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('dvData');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'jobstatus' + postfix + '.xls';
            //triggering the function
            a.click();


            //var table1 = tableToJson($('#tblJobs').get(0)),
            //              cellWidth = 100,
            //              rowCount = 0,
            //              cellContents,
            //              leftMargin = 2,
            //              topMargin = 12,
            //              topMarginTable = 55,
            //              headerRowHeight = 13,
            //              rowHeight = 9,
            //               l = {
            //                   orientation: 'l',
            //                   unit: 'mm',
            //                   format: 'a3',
            //                   compress: true,
            //                   fontSize: 8,
            //                   lineHeight: 1,
            //                   autoSize: false,
            //                   printHeaders: true
            //               };

            //var doc = new jsPDF(l, '', '', '');
            //var specialElementHandlers = {
            //    '#editor': function (element, renderer) {
            //        return true;
            //    }

            //};
            //margins = {
            //    top: 80,
            //    bottom: 60,
            //    left: 10,
            //    width: 700
            //};
            //console.log(specialElementHandlers);
            //doc.fromHTML($('#dvData')[0], margins.left, margins.top, {
            //    'width': margins.width,
            //    'elementHandlers': specialElementHandlers
            //});

            //// console.log($("#editor"))
            //doc.save('jobstatus' + postfix + '.pdf');

            //doc.cellInitialize();
            //$.each(table1, function (i, row)
            //{

            //    rowCount++;

            //    $.each(row, function (j, cellContent) {

            //        if (rowCount == 1) {
            //            doc.margins = 1;
            //            doc.setFont("helvetica");
            //            doc.setFontType("bold");
            //            doc.setFontSize(9);

            //            doc.cell(leftMargin, topMargin, 50, headerRowHeight, cellContent, i)
            //        }
            //        else if (rowCount == 2) {
            //            doc.margins = 1;
            //            doc.setFont("times ");
            //            doc.setFontType("italic");  // or for normal font type use ------ doc.setFontType("normal");
            //            doc.setFontSize(8);

            //            doc.cell(leftMargin, topMargin, 50, rowHeight, cellContent, i);
            //        }
            //        else {

            //            doc.margins = 1;
            //            doc.setFont("courier ");
            //            doc.setTextColor("red");
            //            doc.setFontType("bolditalic ");
            //            doc.setFontSize(6.5);

            //            doc.cell(leftMargin, topMargin, 100, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
            //        }
            //    })
            //})

            //doc.save('sample Report.pdf');
            table = $('#tblJobs').DataTable();
            table.destroy();
            $('#tblJobs').DataTable({
                "paging": true,
                "searching": true,
                "bLengthChange": false,
            });

            //just in case, prevent default behaviour
            //e.preventDefault();
        })
    });

    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }

        // go through cells
        for (var i = 1; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].innerHTML;

            }

            data.push(rowData);
        }

        return data;
    }
</script>

<input type="button" id="btnExport" value="Export" class="btn btn-primary" style="margin:10px;" />
<label style="float:right;padding:10px">Last Refreshed Time: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</label>
<br />

<div id="editor"></div>
<div id="dvData">
    <div class="table-responsive">
        <table id="tblJobs" class="display ">
            @if (Model != null)
            {
                <thead>
                    <tr>
                        @*<th></th>*@
                        <th>Name </th>
                        @*<th>Folder </th>
                            <th>LogFilePath </th>*@
                        <th>LastRunTime </th>
                        <th>NextRunTime </th>
                        <th>State </th>
                        <th>Loginfo </th>
                        <th>Record Count </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            @*<td> <span class="glyphicon glyphicon-info-sign"></span></td>*@
                            <td>@d.name </td>
                            @*<td>@d.folder </td>
                                <td>@d.logFilePath </td>*@
                            <td>@d.lastRunTime</td>
                            <td>@d.nextRunTime </td>
                            <td>@d.state</td>
                            
                            @{
                                string[] delim = { "<br/>" };
                                string tdfinal = string.Empty;
                                if (d.logInfo.ToString() != string.Empty)
                                {
                                    string[] tdstring = d.logInfo.Substring(1).Replace("*", "<br/>").Replace("\"", "").Split(delim, StringSplitOptions.None);

                                    foreach (var td in tdstring)
                                    {
                                        if (td.Contains("EXCEPTION:"))
                                        {
                                            tdfinal += "<span style='color:red'>" + td + "</span><br/>";

                                        }
                                        else if (td.Contains("WARNING:"))
                                        {
                                            tdfinal += "<span style='background:yellow'>" + td + "</span><br/>";//style="color:yellow; background:black"

                                        }
                                        else if (td.Contains("DURATION:"))
                                        {
                                            //tdfinal += "<b>" + td + "</b><br/>";
                                            string strTime = td.Split(':')[1].ToString();
                                            if (strTime != string.Empty)
                                            {
                                                Int16 intHours = Convert.ToInt16(strTime.Trim().Substring(0, 1).ToString());
                                                if (intHours >= 3)
                                                {
                                                    tdfinal += "<b>" + "<span style='background:#FFBF00'>" + td + "</span><br/>" + "</b><br/>";
                                                }
                                                else
                                                {
                                                    tdfinal += "<b>" + td + "<br/>" + "</b><br/>";
                                                }
                                            }

                                        }
                                        else if (td.Contains("Event Warning"))
                                        {
                                            tdfinal += "<b>" + "<p class='blinker'>" + td + "</p><br/>" + "</b><br/>";
                                        }
                                        else
                                        {
                                            tdfinal += td + "<br/>";
                                        }
                                    }
                                }

                                if (d.state == "Ready")
                                {
                                    tdfinal = "<br/>" + tdfinal;
                                }
                                <td style="word-break:break-all">@Html.Raw(tdfinal) </td>
                            }
                            <td>@d.total</td>
                        </tr>
                                }
                </tbody>
                                }
        </table>
    </div>
</div>
<script src="~/scripts/datatables.min.js"></script>

<script>
    var table;
    $(document).ready(function () {
        table = $('#tblJobs').DataTable({
            "order": [[3, "desc"]],
            lengthChange: false,
            searching: true,
            "fixedHeader": {
                header: true,
            },
        });
    });
</script>
<p style="font-weight:bold">@ViewBag.error</p>
