﻿
@{
    ViewBag.Title = "Google DashBoard";
}
<style>
    td,th{
        padding:3px;
    }
</style>
<h2>Google Analytics</h2>
<table border="1" id="tbl_Report">
    <tr>
        <th>
            Table_Name
        </th>
        <th>
            Trans_Revenue
        </th>
        <th>
            Row_Count
        </th>
        <th>Re-run <input type="checkbox" id="checkAll" style="margin-left: 22px;"></th>
        <th>Dedupe <input type="checkbox" id="checkAll_dedupe" style="margin-left: 22px;"></th>
    </tr>
    @foreach (var item in ViewBag.GaItems)
    {
        <tr>
            <td>
                @item.tableName
            </td>
            <td>
                @item.transRevenue
            </td>
            <td>
                @item.RowCount
            </td>
            <td align="center" style="width:60px">
                <input type="checkbox" name='@item.tableName' id="chk" value='@item.tableName' class="g1"/>
            </td>
            <td align="center" style="width:60px">
                <input type="checkbox" name='@item.tableName' id="chk_dedupe" value='@item.tableName' class="g2"/>
            </td>
        </tr>
    }
</table>
<div style="margin-top: 5px;margin-left: 399px;">
    <input type="button" name="name" value="Re-Run" id="btnrerun" onclick="Rerun()" />
    <input type="button" name="name" value="Dedupe" id="btndedupe" onclick="Dedupe()" />
</div>
<div style="margin-top:40px">
    <p style="color:orangered;font-weight: bold">* Note: Don't reload the browser while processing. Wait until you see Files are downloaded successfully.</p>
</div>
<script>
    //$(document).ready(function () {
    //    //setInterval(function () {
    //    //    GetCountfiles();
    //    //}, 10 * 1000);
    //});

    //function GetCountfiles() {
    //    $.ajax({
    //        type: "GET",
    //        url: "/GoogleReports/GetCountfiles",
    //        dataType: "json",
    //        success: function (data) {
    //            //alert('Number of files : ' + data);
    //            debugger;
    //            if (data < 1) {
    //                $('#chk').attr("disabled", false);
    //                $("#chk").prop("checked", false);
    //            }
    //            else {
    //                $('#chk').attr("disabled", true);
    //            }
    //        },
    //        error: function () {
    //            alert("Error occured!!")
    //        }
    //    });
    //}
    $(document).ready(function () {
        if(@Html.Raw(@ViewBag.process)==true){
            $('#chk').attr("disabled", true);
          //  $("#chk").prop("checked", false);
            $('#btnrerun').attr("disabled", true);
        }
    });
    $("#checkAll").click(function () {
        if ($("#checkAll").is(':checked')) {
            $("input[type=checkbox]#chk").each(function () {
                $(this).prop("checked", true);
                $("input[type=checkbox]#chk_dedupe").prop("checked", false);
                $("input[type=checkbox]#checkAll_dedupe").prop("checked", false);
            });
        } else {
            $("input[type=checkbox]#chk").each(function () {
                $(this).prop("checked", false);
                $("input[type=checkbox]#chk_dedupe").prop("checked", false);
                $("input[type=checkbox]#checkAll_dedupe").prop("checked", false);
            });
        }
    });

    $("#checkAll_dedupe").click(function () {
        if ($("#checkAll_dedupe").is(':checked')) {
            $("input[type=checkbox]#chk_dedupe").each(function () {
                $(this).prop("checked", true);
                $("input[type=checkbox]#chk").prop("checked", false);
                $("input[type=checkbox]#checkAll").prop("checked", false);
            });
        } else {
            $("input[type=checkbox]#chk_dedupe").each(function () {
                $(this).prop("checked", false);
                $("input[type=checkbox]#chk").prop("checked", false);
                $("input[type=checkbox]#checkAll").prop("checked", false);
            });
        }
    });

    var newUrl = '@Url.Action("Index", "GoogleReports")';
    // Re-run GA
    function Rerun() {
        var favorite = [];
        $.each($("input[id='chk']:checked"), function () {
            favorite.push($(this).val());
        });

        if (favorite.length === 0) {
            alert('Please select checkbox for Re-run Google Analytics');
            return;
        }

        $('input#chk').attr("disabled", true);
        $('input#chk_dedupe').attr("disabled", true); checkAll
        $('input#checkAll').attr("disabled", true);
        $('input#checkAll_dedupe').attr("disabled", true);
        $('input#btnrerun').attr("disabled", true);
        $('input#btndedupe').attr("disabled", true);

        $.ajax({
            url: '@Url.Action("RunPS1File", "GoogleReports")',
            type: "POST",
            data: { tableName: favorite },
            dataType: 'json',
            success: function (result) {
                alert(result);
                window.location.href = newUrl;
                $('input#chk').attr("disabled", false);
                $('input#chk_dedupe').attr("disabled", false);
                $('input#checkAll').attr("disabled", false);
                $('input#checkAll_dedupe').attr("disabled", false);
                $('input#btnrerun').attr("disabled", false);
                $('input#btndedupe').attr("disabled", false);

            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

    //Dedupe
    function Dedupe() {
       
        var arrDedupe = [];
        $.each($("input[id='chk_dedupe']:checked"), function () {
            arrDedupe.push($(this).val());
        });

        if (arrDedupe.length === 0) {
            alert('Please select checkbox for Dedupe table');
            return;
        }

        $('input#chk_dedupe').attr("disabled", true);
        $('input#chk').attr("disabled", true);
        $('input#checkAll').attr("disabled", true);
        $('input#checkAll_dedupe').attr("disabled", true);
        $('input#btnrerun').attr("disabled", true);
        $('input#btndedupe').attr("disabled", true);
        $.ajax({
            url: '@Url.Action("DedupeNightlyReport", "GoogleReports")',
            type: "POST",
            data: { tableName: arrDedupe },
            dataType: 'json',
            success: function (result) {
                alert(result);
                window.location.href = newUrl;
                $('input#chk_dedupe').attr("disabled", false);
                $('input#chk_dedupe').attr("disabled", true);
                $('input#checkAll').attr("disabled", false);
                $('input#checkAll_dedupe').attr("disabled", false);
                $('input#btnrerun').attr("disabled", false);
                $('input#btndedupe').attr("disabled", false);

            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

    $('.g1').on('change', function () {
        $('.g2').not(this).prop('checked', false);
    });
    $('.g2').on('change', function () {
        $('.g1').not(this).prop('checked', false);
    });
</script>
