﻿
@{
    ViewBag.Title = "Index";
}
<h2>MCRM JOB Table Count</h2>
<table border="1">
    <tr>
        <th>
            Table_Name
        </th>
        <th>
            count
        </th>
    </tr>
    @foreach (var item in ViewBag.GaItems)
    {
        <tr>
            <td>
                @item.tablename
            </td>
            <td>
                @item.total
            </td>
        </tr>
    }
</table>





